body{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color:#f0f4f8 ;
}

h1{
    text-align: center;
    color: #053c78;
    font-size: xx-large;
    margin-top:30px ;
    margin-bottom: 30px;
    
}

form{
    max-width: 600px;
    margin: auto;
    background-color: rgb(114, 189, 176);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0 ,0.5);
    padding: 20px;
    
}

fieldset{
    border: 2px solid #346a7e;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(232, 235, 237);
}

legend{
    font-weight: bold;
    text-align: left;
    color: #4c1d85;
}

label{
    display: block;
    margin-top: 10px;
    color: #4c1d85;
    background-color: rgb(189, 216, 216);

}

input[type="file"]{
font: size 15px;
padding:10px;
width: 220px;
background-color: #b3cce4;
border-radius: 30px;
margin-top: 20px;
}

input[type="file"]::file.selecter-button{
    background-color: rgb(77, 4, 133);
    cursor:pointer
}

input,textarea{
    display: block;
    margin-bottom: 10px;
    width:100x;
    padding:8px;
    font-size: 14px;
    background-color: #b3cce4;

}